
body {
  	/*background-image: url("webtreats-1.png");*/
  	/*background-image: url("upup.png");*/
	margin: 0px;
	color: #111;
	/*background-size: cover;*/
	background-attachment: fixed;
	background-color: white;
	color: #555353;

}

p {
	font-size: 15px;
}

a:link {
	color: #14b8b2;
}
a:visited {
	color: #14b8b2;	
}
a:hover {
	color: #14b894;
	text-decoration: none;
}
a:active {
	color: #fff;
}

.header { /*Powered by bootstrap*/
  margin-top: 7%;
  margin-bottom: 1%;
  display: inline-block;
  width: 100%;
  padding: 0px;

  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #14b8b2; /*rgba(6, 118, 124, 1);*/
  /*background-color: rgba(0, 0, 0, 0.65);*/
  text-align: center;
}

.content {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 1%;
	padding-bottom: 2%;
	display: inline-block;
	width: 100%;
	text-align: center;
	/*background-color: rgba(0, 0, 0, 0.65);*/
	background-color: white;
}

.content h2 {
	font-family: "Courier New", Courier, monospace;
}

.projectcell {
	/*background-image: url("webtreats-1.png");*/
	text-align: center;
	padding-bottom: 2%;
	padding-top: 2%;
}

.happeningcell {
	margin-right: 10%;
	margin-top: 2%;
	float: left;
}
.happeningcell img {
	float: left;
	padding-right: 3%;
	padding-bottom: 2%;
}

.contactlinks {
	text-align: center;
	padding-right: 40%;
	padding-left: 40%;
	padding-bottom: 3%;
}

.innerContent {
	border-top: solid 3px #14b8b2;
	text-align: left;
}

.about {
	text-align: center;
	padding-top: 0px;
	padding-left: 30%;
	padding-right: 30%;
}

.footer {
	height: 130px;
	padding-top: 2%;
	margin-bottom: 3%;
	margin-top: 1%;
	border-top: solid 5px #14b8b2;
	text-align: center;
}

@media (max-width: 1000px ) {
	
	.links {
		text-align: center;
		margin-top: 3%;
		padding-right: 20%;
		padding-left: 20%;
		padding-bottom: 1%;
	}

	.about {
		padding-top: 3%;
		padding-right: 10%;
		padding-left: 10%;
		text-align: center;
	}
}